* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
}

header {
  background: white;
  height: 700px;
  width: 100%;
}

nav ul {
  margin: 40px 0 0 960px;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#contact-me {
  border: 10px solid black;
  border-radius: 8px;
  background: black;
  color: white;
  font-weight: bold;
  /* position: fixed; */
}

.blwk {
  background: black;
  height: 600px;
  width: 100%;
  color: white;
}

.yllw {
  background: #ffc700;
  height: 500px;
  width: 100%;
}

.wht {
  background: white;
  height: 300px;
  width: 100%;
}

#h-one {
  font-size: 30px;
  font-weight: bold;
}

#h-two {
  font-size: 60px;
}

#h-thr {
  font-size: 30px;
}

.container-head {
  margin: 100px 0 0 100px;
}

.logo {
  text-align: center;
  margin-top: 150px;
}

#logo-one {
  margin-right: 150px;
}

#logo-two {
  margin-right: 150px;
}

#logo-thr {
  margin-right: 150px;
}

#logo-four {
  margin-right: 150px;
}

#git {
  color: black;
}

#mail {
  color: #76b041;
}

#fb {
  color: #3d6ad6;
}

#portrait {
  width: 200px;
  height: 300px;
  border-radius: 48%;
  border: 2px solid white;
  margin: 150px 0 0 300px;
  position: absolute;
  filter: grayscale(90%);
  max-width: 100%;
  height: auto;
}

#logo {
  margin: 30px 0 0 30px;
  width: 250px;
  height: 100px;
}

#quote {
  width: 600px;
  height: 400px;
  position: absolute;
  font-size: 40px;
  color: white;
  margin: 190px 0 0 580px;
}

#quote-p {
  margin: 380px 0 0 300px;
  position: absolute;
  font-size: 25px;
}

#react-logo {
  width: 200px;
  height: 200px;
  position: absolute;
  background: black;
  border-radius: 50%;
  margin: 80px 0 0 250px;
}

#js-logo {
  width: 200px;
  height: 200px;
  position: absolute;
  background: black;
  border-radius: 50%;
  margin: 80px 0 0 600px;
}

#desc-one {
  color: #ffc700;
  background: black;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  width: 150px;
  position: absolute;
  margin: 300px 0 0 260px;
}

#desc-two {
  color: #ffc700;
  background: black;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  width: 150px;
  position: absolute;
  margin: 300px 0 0 610px;
}

.contact-row p {
  font-size: 18px;
  margin-top: 10px;
}

.technology p {
  font-size: 18px;
  margin-top: 10px;
}

.contact-row a {
  text-decoration: none;
  color: black;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 60px;
}

#footer-p {
  font-style: italic;
  text-align: center;
  margin-top: 60px;
  font-size: 15px;
}

#footer-copy {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}
