* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
}

header {
  background: white;
  height: 700px;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  /* margin: 40px 0 0 960px; */
  margin-top: 40px;
  justify-content: flex-end;
  list-style: none;
}

.nav-container a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-container li {
  margin-right: 40px;
}

.nav-container a:hover {
  color: blue; /*For now */
}

/* nav ul {
  margin: 40px 0 0 960px;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
} */

#contact-me {
  border: 10px solid black;
  border-radius: 8px;
  background: black;
  color: white;
  font-weight: bold;
  /* position: fixed; */
}

.blwk {
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  color: white;
}

#portrait {
  width: 200px;
  height: 300px;
  border-radius: 48%;
  border: 2px solid white;
  /* margin: 150px 0 0 300px; */
  filter: grayscale(90%);
  max-width: 100%;
  height: auto;
}

#quote {
  width: 600px;
  height: 400px;
  font-size: 40px;
  color: white;
  margin-left: 40px;
  margin-top: 200px;
  /* margin: 190px 0 0 580px; */
}

.yllw {
  background: #ffc700;
  height: 500px;
  width: 100%;
}

.wht {
  background: white;
  height: 300px;
  width: 100%;
}

#h-one {
  font-size: 30px;
  font-weight: bold;
}

#h-two {
  font-size: 60px;
}

#h-thr {
  font-size: 30px;
}
.container-head {
  margin: 100px 0 0 150px;
  display: flex;
  flex-flow: column wrap;
}

.logo {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.logo a {
  padding: 0 80px;
}

.logo i {
  font-size: 100px;
}

#git {
  color: black;
}

#mail {
  color: #76b041;
}

#fb {
  color: #3d6ad6;
}

/* 
#logo {
  margin: 30px 0 0 30px;
  width: 250px;
  height: 100px;
} */

.contact-row p {
  font-size: 18px;
  margin-top: 10px;
}

.technology p {
  font-size: 18px;
  margin-top: 10px;
}

.contact-row a {
  text-decoration: none;
  color: black;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 60px;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#react-logo,
#css-logo,
#js-logo {
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50%;
  margin-top: 80px;
}

#js-logo {
  /* margin: 80px 0 0 600px; */
  padding: 20px 20px;
  width: 160px;
  height: 160px;
}

#desc-one,
#desc-two,
#desc-thr {
  color: #ffc700;
  background: black;
  font-size: 19px;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  width: 170px;
  margin-top: 80px;
}

.footer {
  height: 100px;
}
#footer-p {
  font-style: italic;
  text-align: center;
  margin-top: 60px;
  font-size: 15px;
}

#footer-copy {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

@media all and (max-width: 1050px) {
  body .logo a {
    padding: 0 30px;
  }

  body #portrait {
    width: 150px;
    height: 200px;
  }

  body .yllw {
    height: 450px;
  }

  body #react-logo,
  body #css-logo,
  body #js-logo {
    width: 150px;
    height: 150px;
  }

  body #js-logo {
    padding: 20px 20px;
    width: 110px;
    height: 110px;
  }

  body #desc-one,
  body #desc-two,
  body #desc-thr {
    width: 150px;
    font-size: 15px;
    margin-top: 80px;
  }
}
/* Quote for Portrait  */
@media all and (max-width: 815px) {
  body #quote {
    font-size: 20px;
    width: 400px;
    height: 350px;
    margin-top: 250px;
  }
}

/* Logos of Project */
@media all and (max-width: 750px) {
  body #react-logo,
  body #css-logo,
  body #js-logo {
    width: 120px;
    height: 120px;
  }
  body #js-logo {
    padding: 20px 20px;
    width: 80px;
    height: 80px;
  }

  body .container-head {
    margin-left: 50px;
  }

  body .yllw {
    height: 400px;
  }
  body #desc-one,
  body #desc-two,
  body #desc-thr {
    width: 100px;
    height: 30px;
    font-size: 11px;
    margin-top: 40px;
  }
}

@media all and (max-width: 640px) {
  body .nav-container a {
    font-size: 15px;
    margin-right: 10px;
  }
  body .container-head {
    margin-left: 50px;
  }

  body header {
    height: 600px;
  }
  body #h-one,
  #h-thr {
    font-size: 20px;
  }

  body #h-two {
    font-size: 50px;
  }
  body .logo a {
    padding: 0 10px;
  }

  body .logo i {
    font-size: 50px;
  }
  /* breaks at 610 */
  body #quote {
    font-size: 28px;
    width: 200px;
    height: 350px;
    margin-top: 80px;
  }
}

@media all and (max-width: 550px) {
  body #react-logo,
  body #css-logo,
  body #js-logo {
    width: 100px;
    height: 100px;
  }
  body #js-logo {
    padding: 20px 20px;
    width: 60px;
    height: 60px;
  }
  body #desc-one,
  body #desc-two,
  body #desc-thr {
    width: 80px;
    height: 30px;
    font-size: 11px;
    margin-top: 40px;
  }
  /* }
  body #h-one {
    font-size: 20px;
  }

  body #h-thr {
    font-size: 17px;
    width: 400px;
  } */

  body header {
    height: 480px;
  }

  body .logo {
    margin-top: 80px;
  }
  body #h-two {
    font-size: 40px;
  }

  body .blwk {
    height: 480px;
  }
}
/* 
#desc-two {
  /* margin: 300px 0 0 0; 
}

#desc-thr {
  /* margin: 300px 0 0 0;
} */

@media all and (max-width: 450px) {
  body .nav-container a {
    font-size: 13px;
  }

  body .nav-container {
    justify-content: center;
  }

  body .nav-container li {
    margin-right: 10px;
  }

  body #quote {
    font-size: 24px;
    width: 180px;
    height: 250px;
    margin-top: 40px;
  }

  body #portrait {
    margin-top: 40px;
    width: 120px;
    height: 150px;
  }

  body #desc-one,
  body #desc-two,
  body #desc-thr {
    width: 100px;
    height: 25px;
    font-size: 11px;
    margin-top: 40px;
    margin-left: -10px;
  }

  body #react-logo,
  body #css-logo,
  body #js-logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    text-align: center;
  }
  body #js-logo {
    padding: 20px 20px;
    width: 60px;
    height: 60px;
  }

  body .project-container {
    flex-flow: column;

    align-items: center;
  }

  body .yllw {
    height: 740px;
  }
}
@media all and (max-width: 300px) {
  body .nav-container li {
    margin-right: 5px;
  }

  body .container-head {
    margin-top: 80px;
  }

  body .nav-container a {
    font-size: 10px;
    margin-left: 3px;
  }

  body #h-two {
    font-size: 35px;
    font-weight: bolder;
  }

  body #h-one,
  body #h-thr {
    font-size: 15px;
  }

  body header {
    height: 480px;
  }

  body .logo {
    margin-top: 80px;
  }

  body .logo i {
    font-size: 35px;
  }

  body #portrait {
    margin-top: 40px;
    width: 120px;
    height: 150px;
  }

  body .blwk {
    height: 480px;
  }
  body #quote {
    font-size: 22px;
    width: 200px;
    height: 350px;
    margin-top: 40px;
  }

  .contact-row p {
    font-size: 14px;
    margin-top: 10px;
  }

  body .technology {
    margin-top: 25px;
  }

  .technology p {
    font-size: 14px;
    margin-top: 10px;
  }

  .contact-row a {
    text-decoration: none;
  }

  body #footer-p {
    font-style: italic;
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    width: 270px;
  }

  #footer-copy {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }
}
